@charset "utf-8";

$breeze-dark:#31363b;
$breeze-dark-title: #ffffff;
$breeze-dark-foreground: #EEFFFF;
$breeze-dark-alt1: #232629;
$breeze-green: #1cdc9a;
$breeze-red: #c0392b;
$breeze-yellow: #fdbc4b;
$breeze-blue: #3daee9;

$primary: $breeze-green;
$success: $breeze-green;
$warning: $breeze-yellow;
$danger: $breeze-red;
$info: $breeze-blue;

$body-background-color: $breeze-dark;
$body-color: $breeze-dark-foreground;
$title-color: $breeze-dark-title;
$subtitle-color: $breeze-dark-foreground;
$card-background-color: $breeze-dark-alt1;
$card-header-color: $breeze-dark-foreground;
$card-color: $breeze-dark-foreground;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/progress.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
